body{
    color: black;
    height: 100%;
    margin: 0px;
 display: flex;
 justify-content: start;
 gap:42px ;

    background-color: white;
}
form {
  display: inline;
  margin-top: 0em;
  unicode-bidi: isolate;
  margin-block-end: 0em;
}
.theFather{
    height: 100%;
    font-size: 26px;
    width: 400px;
    margin-left: 26px;
    color: white;
    border-radius: 4px;;
   background-color: rgba(134, 44, 134,0.9);
}

.education-paragraph {
  display: inline;
   margin-block-end: 0px; 
  font-size: 22px;
   text-transform: capitalize;}
.error{
  display: none;
   margin-block-end: 0px;
   font-size: 24px;
   text-transform: capitalize;
}
.fasl{
    margin-left: 12px;
    margin-top: 11px;
}
.dis{
    display: flex; 

    gap:8px; 
    margin-bottom: 10px;
} 

.in{
    border-radius: 4px;
     font-size: 24px;
      width: 180px;
      padding: 4px;
    }
    textarea {
        width: 370px;
         height: 170px; 
         font-size: 20px;
         padding: 4px;
      }

      .margin{
        font-size:  19px;
         display: inline; 
          margin-block-start: 0px;
          margin-block-end: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.edit-div{

  display: flex; 
  align-items: end;
  justify-content: end;
   margin-right: 20px;
   margin-bottom: 4px;
   gap: 15px
   ;
}
.edit{
  font-size: 14px;
padding: 2px;
color: white;
background-color:cadetblue;
border-radius: 4px;
}
.dont-edit{
  font-size: 14px;
padding: 2px;color: white;
background-color:cadetblue;
border-radius: 4px;
}
.referencesDiv{ 
display: flex;
justify-content: center;
margin-right: 10px;
  }
  hr {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}